/* resetting the border and margin */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*------------------------HOME PAGE------------------------*/  
body {
    background-color: #f2f2f2;
}
/* .main contains background image with gradient for text to overlay */
.main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../media/images/Home.jpg);
    background-size: cover;
    position: relative;
}

/* top portion of the web page */
nav {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav img {
     width: 150px;
 }

 .link-bar {
     flex: 1;
     text-align: right;
 }

 .link-bar ul li {
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
 }

 ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid #f6a526;
}

.opening-text {
   width: 90%;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   /*puts content in the center*/
   transform: translate(-50%, -50%);
   text-align: center;
}

.opening-text h1 {
   font-size: 50px;
   color: white;
   font-weight: 500;
}

.opening-text p {
   margin: 10px 0 40px;
   font-size: 14px;
   color: white;
   font-weight: 300;
   line-height: 25px;
}
/*Find Out More Button*/
.find-more {
     display: inline-block;
     text-decoration: none;
     color: black;
     padding: 12px 34px;
     font-size: 15px;
     background: #f6a526;
     position: relative;
     box-shadow: 0 0 2px;
}

.info {
    
    text-align: center;
    padding-top: 50px;
}

.info h1 {
    font-size: 50px;
    color: #f6a526;
    font-weight: 500;
}

.info p {
    padding-top: 10px;
    font-size: medium;
    line-height: 25px;
}

.info p a {
    color: #f6a526;
    text-decoration: none;
}
/*border width set to 0 to replace outdated frameborder element*/
.wellness-video {
    padding-top: 50px;
    border-width: 0px;
}

.home-box {
    padding-top: 50px;
    text-align: center;
}

.wellness-box {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-right: 10px;
    background: #f6a526;
    height: 200px;
    box-shadow: 0 0 5px black;
}
.home-box h1 {
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
    color: #f6a526;
    font-weight: 500;
}
.home-box p {
    font-weight: 300;
    padding-right: 20px;
    padding-left: 20px ;
    padding-top: 30px;
    font-size: 15px;
}

.home-box h2 {
    padding-top: 20px
}

.row{
    padding-top: 50px;
    text-align: center;
  }
.column {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-right: 10px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}

.footer {
    text-align: center;
    padding-top: 50px;
}
.footer h2 {
    padding-top: 20px;
}
.footer p {
    padding-top: 10px;
    font-weight: 300;
}
.footer-design {
    clear: both;
    background: #f6a526;
    box-shadow: 0 0 5px;
}
a{
    color:black;
    text-decoration: none;
}

.footer-design i {
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    padding-left: 1em;
    padding-bottom: 20px;
}
/*--------------------MEDITATION PAGE--------------------*/
/* .main contains background image with gradient for text to overlay */
.med-main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../media/images/medpage.jpeg);
    background-size: cover;
    position: relative;
}

.how-to-med {
    text-align: center;
}
.how-to-med h1 {
    padding-top: 50px;
    font-size: 50px;
    font-weight: 500;
    color: #f6a526;
}

.new-box-style1 {
    padding-top: 50px;
    margin-bottom: 50px;
}
.box1 {
    clear: both;
    justify-content: space-between;
    float: left;
    position: relative;
    width: 550px;
    height: 390px;
    left: 20px;
    background: rgba(246, 165, 38, 0.93);
    color: black;
    padding-bottom: 10px;
    box-shadow: 0 0 5px;
}
.interior1 h2 {
    padding-top: 50px;
    font-size: 50px;
}
/*a Styles the inside and leaves the outside blank*/
.interior1 p {
    transform: translate(0, 60%);
    line-height: 25px;
    font-size: large;
    font-weight: 300;
}
.vid-pos1 {
    box-shadow: 0 0 5px;
    float: right;
    padding-right: 20px;
    border: 0px;
}

.meditation-footer {
    clear: both;
    padding-top: 50px;
}
.inner-text {
    box-shadow: 0 0 5px;
    text-align: center;
    background: #f6a526;
}
.inner-text h2 {
    padding-top: 20px;
}

.inner-text p {
    padding-top: 10px;
    font-weight: 300;
}
.inner-text i {
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    padding-left: 1em;
    padding-bottom: 20px;
}
/*------------------------YOGA PAGE------------------------*/
.yoga-main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../media/images/MatUnroll.jpg);
    background-size: cover;
    position: relative;
}

.yoga-info {
    text-align: center;
    padding-top: 50px;
}
.yoga-info h1 {
    font-size: 50px;
    font-weight: 500;
    color: #f6a526;
}

.yoga-box {
    text-align: center;
}
.yoga-box h2 {
    padding-top: 20px;
}
.yoga-info {
    text-align: center;
}
.yoga-info p {
    padding-top: 20px;
    font-weight: 300;
}
.row2{
    padding-top: 50px;
    text-align: center;
  }
.column2 {
    position: relative;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-right: 10px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 2px;
    top: 0;
}
.box-text1 {
    top: 0;
    text-align: center;
}
.box-text1 h3 {
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    margin: 40px 20px 30px 20px;
    font-size: 30px;
    text-shadow: 1px 1px #f6a526;
}
.box-text1 p {
    font-weight: 300;
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    text-shadow: 1px 1px #f6a526;
    margin: 210px 20px 30px 20px;
    font-size: 30px;
}
.box-text2 {
    text-align: center;
}
.box-text2 h3 {
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    margin: 40px 20px 30px 20px;
    font-size: 30px;
    text-shadow: 1px 1px #f6a526;
}
.box-text2 p {
    font-weight: 300;
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    text-shadow: 1px 1px #f6a526;
    margin: 210px 20px 30px 20px;
    font-size: 30px;
}
.box-text3 h3 {
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    margin: 40px 20px 30px 20px;
    font-size: 30px;
    text-shadow: 1px 1px #f6a526;
}
.box-text3 p {
    font-weight: 300;
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    text-shadow: 1px 1px #f6a526;
    margin: 210px 20px 30px 20px;
    font-size: 30px;
}
/*--------------------MINDFULNESS SECTION--------------------*/
.mind-main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../media/images/Mindfulness.jpg);
    background-size: cover;
    position: relative;
}
.mind-info{
    text-align: center;
    padding-top: 50px;
}
.mind-info h1{
    font-size: 50px;
    font-weight: 500;
    color: #f6a526;
}
.mind-box {
    padding-top: 10px;
}
.mind-box p{
    padding-top: 10px;
    width: 900px;
    height: fit-content;
    left: 20px;
    background: rgba(246, 165, 38, 0.93);
    color: black;
    padding-bottom: 10px;
    box-shadow: 0 0 5px;
    margin: 20px 20px 30px 250px;
}
.mind-how-to h1{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #f6a526;
    padding-bottom: 50px;
}
.mind-box1 {
    float: left;
    padding-left: 50px ;
    width: 50%;
    text-align: center;
    position: relative;
}
.mind-box1 h2 {
    padding-top: 300px;
    padding-bottom: 20px;
}
.mind-box1 p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
}
.row1{
    padding-top: 50px;
    text-align: center;
  }
.column1 {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-right: 10px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}
.mind-box2 {
    float: right;
    text-align: center;
    padding-top: 250px;
    padding-right: 200px;
}
.mind-box2 p {
    padding-top: 10px;
}
.row2{
    padding-top: 50px;
    text-align: center;
  }
.column2 {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}
#wd {
    height: 500px;
    width: 450px;
}
/*--------------CONTACT PAGE----------------*/
.contact-main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../media/images/Home.jpg);
    background-size: cover;
    position: relative;
}
.contact-form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    float:left;
}
.contact-form label{
    display:block;
}
#text {
    height: 30px;
    width: 250px;
    font-size: 14pt;
}
#email {
    height: 30px;
    width: 250px;
    font-size: 14pt;
}
#question {
    height: 150px;
    width: 500px;
    font-size: larger;
}
.useful-resources {
    padding-top: 50px;
    float: right;
    padding-right: 50px;
}
.useful-resources h3 {
    text-align: center;
    font-size: 25px;
}
.title {
    font-size: larger;
    font-weight: 600;
}