/* resetting the border and margin */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* .main contains background image with gradient for text to overlay */
.main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(media/images/Home.jpg);
    background-size: cover;
    position: relative;
}

nav {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav img {
     width: 150px;
 }

 .link-bar {
     flex: 1;
     text-align: right;
 }

 .link-bar ul li {
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
 }

 ul li a {
     color: white;
     text-decoration: none;
     font-size: 15px
 }
